body 
{
  font-family: "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
  }

.searchbox 
{
  border:1px solid #d1c7ac;
  width: 230px;
  color:#333333;
  padding:3px;
  margin-right:4px;
  margin-bottom:8px;
  }

.searchbutton 
{ 
  border:1px solid #d1c7ac;
  color:#444444;
  padding:3px;
  margin-right:4px;
  margin-bottom:8px;
  font-weight:bold;
  border-style:outset;
  background-color:#eeeeee;
  }

.searchbuttonpressed
{ 
  border:1px solid #d1c7ac;
  color:#444444;
  padding:3px;
  margin-right:4px;
  margin-bottom:8px;
  font-weight:bold;
  border-style:outset;
  background-color:#dddddd;
  }

#container
{
  float:left;
  height:50%;
  margin-bottom:-1.5in;
/*   border: 1px solid #666; */
  }

#content
{
  clear:both;
  position:relative;
  height: 1.5in;
  width: 5in;
/*   border: 1px solid #666; */
  margin: auto;
  text-align: center;
  }
